* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(68,88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 50px;
}

nav a {
  margin: 10px;
 padding: 2px;
  color: var(--secondary);
  font-size: larger;
}

header h1 {
  margin: 0px;
  padding-left: 30px;
  padding-right: 5px;
  background-color: var(--secondary);
}