* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(68,88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--light);

 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* HEADER */

header {
  margin: 2px 2px 0 2px;
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 50px;
}

nav a {
  text-decoration: none;
  margin: 10px;
  padding: 5px 10px;
  color: var(--secondary);
  font-size: larger;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
background-repeat: no-repeat;
background-size: 100% 0.2em;
background-position: bottom;
transition:  all 0.25s ease-in;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

header h1 {
  margin: 0px;
  padding-left: 30px;
  padding-right: 5px;
  background-color: var(--secondary);
}

.hero-banner {
  margin: 0 2px;
  background-color: rgba(68,88, 212);
  background-image: url(images/02-hero-bg.jpg); 
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner h2 {
background-color: var(--secondary);
color: var(--tertiary);
margin: 10px;
padding: 5px;
}

/* ABOUT ME */

.page-wrapper {
  max-width: 88%;
  margin: 5px;
}

.page-section_1 {
  margin: 10px;
  display: grid;
  /* height: 800px; */
  min-width: 300px;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr ;
grid-template-areas: 
'side1 aboutme';
}

.about-me-text {
  grid-area: aboutme;
  margin: 20px;
}

.about-me {
 grid-area: side1;
 text-align: right;
 padding-left: 30px;
 padding-right: 15px;
 border-right: 4px solid var(--primary);
 font-size: 2vw;
 line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom:  20px;

}

/* Portfolio */

.page-section2{
  margin: 10px;
  padding-top: 20px;
  display: grid;
  height: 800px;
  min-width: 300px;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 400px 200px 200px;
grid-template-areas: 
'side top top'
'side tl tr'
'side bl br';
}

.page-section2 a {
  border: 4px solid var(--secondary);
}

.inner-title {

  padding: 15px;
  margin: 10px;
  background-color: var(--secondary);
  color: var(--tertiary);

}

.work {
  grid-area: side;
  text-align: right;
  padding-left: 30px;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 2vw;
  line-height: 1.1;
 }

.top {
  grid-area: top;
  background-image: url(images/02-portfolio-1.jpg);
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  align-items: end;
}

.tl {
  grid-area: tl;
  background-image: url(images/02-portfolio-2.jpg);
  display: flex;
  margin: 10px; 
  justify-content: flex-start;
  align-items: end;
}

.tr {
  grid-area: tr;
  background-image: url(images/02-portfolio-3.jpg);
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  align-items: end;
}

.bl {
  grid-area: bl;
  background-image: url(images/02-portfolio-4.jpg);
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  align-items: end;
}

.br {
  grid-area: br;
  background-image: url(images/02-run-buddy.jpg);
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  align-items: end;
}

/* Contact me */


.page-section_3 {
  padding-top: 20px;
  margin: 10px;
  display: grid;
  min-width: 300px;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr ;
grid-template-areas: 
'side3 contact';
}

.contact-me {
  grid-area: side3;
  text-align: right;
  padding-left: 30px;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 2vw;
  line-height: 1.1;
 }

 .contact-entries {
  grid-area: contact;
  margin: 20px;
  justify-content: space-between;

}

.contact-entries address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
